
.profile__btn-edit {
    background-image: url(../../../images/Edit_btn_img.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffff;
    background-color: inherit;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}